{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

<title>웰케어 재가노인복지센터</title>
<link rel="canonical" href="http://www.well-care.co.kr/">
<meta name="description" content="부산광역시 해운대구 좌동에 위치한 웰케어재가복지센터는 노인장기요양보험에 근거하여 요양보호사들이 방문요양 서비스를 제공하는 노인장기요양기관입니다.">
<meta name="keywords" content="해운대 방문요양, 해운대 재가복지, 방문요양, 재가복지, 부산, 웰케어, 웰케어재가복지">

<meta property="og:type" content="website">
<meta property="og:title"  content="웰케어 재가노인복지센터">
<meta property="og:description" content="부산광역시 해운대구 좌동에 위치한 웰케어재가복지센터는 노인장기요양보험에 근거하여 요양보호사들이 방문요양 서비스를 제공하는 노인장기요양기관입니다.">
<meta property="og:image" content="http://www.well-care.co.kr/static/assets/img/gallery/2.jpg">

{% endblock %}

{% block content %}

        <!--====================================
        ——— BEGIN MAIN SLIDE LIST
        ===================================== -->
        <section class="rev_slider_wrapper fullwidthbanner-container over" dir="ltr">
        
            <!-- the ID here will be used in the JavaScript below to initialize the slider -->
            <div id="rev_slider_1" class="rev_slider rev-slider-kidz-school" data-version="5.4.5" style="display:none">
        
                <ul>
                    <!-- SLIDE 1  -->
                    <li data-transition="fade">
                        <img src="{% static 'assets/img/banner/slider-1/img-1.jpg' %}" alt="Sky" class="rev-slidebg">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme font-dosis font-weight-bold" data-frames='[{
                            "delay":1600,"speed":1000,"frame":"500","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                            {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-visibility="on" data-x="left" data-y="middle" data-hoffset="['8', '38', '15', '30']"
                            data-voffset="['0', '0', '0', '0']" data-fontsize="['45', '45', '40', '30']"
                            data-lineheight="['50', '45', '40', '30']" data-color="#000000" data-width="auto"
                            data-basealign="grid" data-responsive_offset="off" style="z-index: 1;">
                            <span class="text" style="background-color:rgba(236, 236, 234, 0.5);color:#ea7066;">행복한 가정,</span>
                            
                        </div>
        
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme font-dosis font-weight-bold"
                            data-frames='[{
                                            "delay":2000,"speed":1300,"frame":"500","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":200,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-visibility="on"
                            data-x="left" data-y="middle" data-hoffset="['200', '200', '150', '150']"
                            data-voffset="['70', '70', '50', '50']" data-width="['550','500','500','420']"
                            data-fontsize="['45', '45', '40', '30']" data-lineheight="['30', '25', '25', '25']"
                            data-color="#000000" data-textAlign="left" data-basealign="grid" data-responsive_offset="off"
                            data-type="text" data-whitespace="normal" style="z-index: 10;">
                            <span class="text" style="background-color:rgba(236, 236, 234, 0.5);color:rgb(54, 142, 201);">웰케어와 함께</span>
                        </div>
                    </li>
        
                    <!-- SLIDE 2  -->
                    <li data-transition="fade">
                        <img src="{% static 'assets/img/banner/slider-1/img-2.jpg' %}" alt="Sky" class="rev-slidebg">
                        <!-- LAYERS-->
        
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme font-dosis font-weight-bold"
                            data-frames='[{
                                        "delay":1600,"speed":1000,"frame":"500","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                        {"delay":"wait","speed":200,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-visibility="on" data-x="center" data-y="middle"
                            data-hoffset="['0', '0', '0', '0']" data-voffset="['-20', '-10', '-10', '-10']"
                            data-fontsize="['45', '45', '40', '30']" data-lineheight="['50', '45', '40', '30']"
                            data-color="#000000" data-width="auto" data-basealign="grid" data-responsive_offset="off"
                            style="z-index: 1;">
                            <span class="text" style="background-color:rgba(236, 236, 234, 0.5);color:#ea7066;">친절한 방문서비스,</span>
                            
                        </div>
        
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme font-dosis font-weight-bold"
                            data-frames='[{
                                        "delay":2000,"speed":1300,"frame":"500","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                        {"delay":"wait","speed":200,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-visibility="on"
                            data-x="center" data-y="middle" data-hoffset="['180', '120', '120', '0']"
                            data-voffset="['50', '70', '50', '50']" data-width="['550','400','400','420']"
                            data-fontsize="['45', '45', '40', '30']" data-lineheight="['30', '25', '25', '25']"
                            data-color="#000000" data-textAlign="center" data-basealign="grid" data-responsive_offset="on"
                            data-responsive="on" data-type="text" data-whitespace="normal" style="z-index: 10;">
                            <span class="text" style="background-color:rgba(236, 236, 234, 0.5);color:rgb(54, 142, 201);">웰케어와 함께</span>
                        </div>
                    </li>
        
                    <!-- SLIDE 3 -->
                    <li data-transition="fade">
                        <img src="{% static 'assets/img/banner/slider-1/img-3.jpg' %}" alt="Sky" class="rev-slidebg">
                        <!-- LAYERS -->
        
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme font-dosis font-weight-bold"
                            data-frames='[{
                                            "delay":1600,"speed":1200,"frame":"500","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                            {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-visibility="on"
                            data-x="['left','left','left','right']" data-y="middle" data-hoffset="['550', '300', '150', '110']"
                            data-voffset="['0', '0', '0', '0']" data-fontsize="['45', '45', '40', '30']"
                            data-lineheight="['50', '45', '40', '30']" data-color="#000000" data-width="none" data-height="auto"
                            data-basealign="grid" data-textAlign="['left','left','left','right']" data-type="text"
                            data-responsive_offset="on" style="z-index: 1;">
                            <span class="text" style="background-color:rgba(236, 236, 234, 0.5);color:#ea7066;">편안한 돌봄서비스,</span>
                            
                        </div>
        
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme font-dosis font-weight-bold" data-frames='[{
                          "delay":2000,"speed":1300,"frame":"500","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                          {"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-visibility="on" data-x="['left','left','left','right']" data-y="middle"
                            data-hoffset="['800', '500', '350', '80']" data-voffset="['70', '70', '50', '50']"
                            data-width="['550','400','400','420']" data-fontsize="['45', '45', '40', '30']"
                            data-lineheight="['30', '25', '25', '25']" data-color="#000000"
                            data-textAlign="['left', 'left', 'left', 'right']" data-basealign="grid" data-responsive_offset="on"
                            data-type="text" data-whitespace="normal" style="z-index: 10;">
                            <span class="text" style="background-color:rgba(236, 236, 234, 0.5);color:rgb(54, 142, 201);">웰케어와 함께</span>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
<!-- ====================================
        ———	HOME FEATURE
        ===================================== -->
<section class="pt-6 pb-6 py-md-6">
    <div class="container">


        <div class="row wow fadeInUp">
            <!-- Media -->
            <div class="col-sm-6 col-xl-4 col-xs-12">
                <div class="media mb-6">
                    <div class="media-icon-large bg-warning mr-xl-4">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </div>

                    <div class="media-body">
                        <h3 class="text-warning">사랑</h3>
                        <p>사랑 가득한 돌봄이 이루어지도록 한다.</p>
                    </div>
                </div>
            </div>

            <!-- Media -->
            <div class="col-sm-6 col-xl-4 col-xs-12">
                <div class="media mb-6">
                    <div class="media-icon-large bg-success mr-xl-4">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                    </div>

                    <div class="media-body">
                        <h3 class="text-success">가족 행복</h3>
                        <p>어르신과 보호자분들의 행복을 위해 편익을 증진한다.</p>
                    </div>
                </div>
            </div>

            <!-- Media -->
            <div class="col-sm-6 col-xl-4 col-xs-12">
                <div class="media mb-6">
                    <div class="media-icon-large bg-danger mr-xl-4">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="text-danger">사회봉사</h3>
                        <p style="font-size: 0.9rem;">사회연대원리에 의해 봉사하는 정신으로 임한다.</p>
                    </div>
                </div>
            </div>

            <!-- Media -->
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="media mb-6">
                    <div class="media-icon-large bg-info mr-xl-4">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="text-info">편익한 서비스</h3>
                        <p>어르신에 맞게 보다 편하고 유익한 서비스를 제공한다.</p>
                    </div>
                </div>
            </div>

            <!-- Media -->
            <div class="col-sm-6 col-xl-4 col-xs-12">
                <div class="media mb-6">
                    <div class="media-icon-large bg-purple mr-xl-4">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="text-purple">간병의 사회화</h3>
                        <p>사회 공동체와 협심하여 간병문제해결에 적극 참여한다.</p>
                    </div>
                </div>
            </div>

            <!-- Media -->
            <div class="col-sm-6 col-xl-4 col-xs-12">
                <div class="media mb-7">
                    <div class="media-icon-large bg-pink mr-xl-4">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="text-pink">직원의 역량강화</h3>
                        <p>정기적 교육실시 및 의사소통강화.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
       
        
        <!-- ====================================
        ———	GALLERY
        ===================================== -->
        <section class="pt-1 pb-7 py-md-1" id="gallery">
            <div class="container">
                <div class="section-title justify-content-center mb-4 mb-md-5 wow fadeInUp">
                    <h2 class="text-danger">사진첩</h2>
                </div>
        
                <div class="d-flex justify-content-center wow fadeInUp">
                    <div id="filters" class="button-group">
                        <button class="button is-checked" data-filter="*">전체보기</button>
                        <button class="button" data-filter=".charity">사무실</button>
                        <button class="button" data-filter=".nature">활동사진</button>
                    </div>
                </div>
        
                <div id="gallery-grid">
                    <div class="row grid wow fadeInUp">
                        <div class="col-md-4 col-lg-3 col-xs-12 element-item children charity">
                            <div class="media media-hoverable justify-content-center">
                                <div class="position-relative w-100">
                                    <img class="media-img w-100 lazyestload"
                                        data-src="{% static 'assets/img/gallery/1.jpg' %}"
                                        src="{% static 'assets/img/gallery/1.jpg' %}" alt="gallery-img">
                                    <a class="media-img-overlay" data-fancybox="gallery"
                                        href="{% static 'assets/img/gallery/1.jpg' %}">
                                        <div class="btn btn-squre">
                                            <i class="fa fa-search-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-4 col-lg-3 col-xs-12 element-item children charity">
                            <div class="media media-hoverable justify-content-center">
                                <div class="position-relative w-100">
                                    <img class="media-img w-100 lazyestload"
                                        data-src="{% static 'assets/img/gallery/2.jpg' %}"
                                        src="{% static 'assets/img/gallery/2.jpg' %}" alt="gallery-img">
                                    <a class="media-img-overlay" data-fancybox="gallery"
                                        href="{% static 'assets/img/gallery/2.jpg' %}">
                                        <div class="btn btn-squre">
                                            <i class="fa fa-search-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-4 col-lg-3 col-xs-12 element-item children charity">
                            <div class="media media-hoverable justify-content-center">
                                <div class="position-relative w-100">
                                    <img class="media-img w-100 lazyestload"
                                        data-src="{% static 'assets/img/gallery/3.jpg' %}"
                                        src="{% static 'assets/img/gallery/3.jpg' %}" alt="gallery-img">
                                    <a class="media-img-overlay" data-fancybox="gallery"
                                        href="{% static 'assets/img/gallery/3.jpg' %}">
                                        <div class="btn btn-squre">
                                            <i class="fa fa-search-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-4 col-lg-3 col-xs-12 element-item children charity">
                            <div class="media media-hoverable justify-content-center">
                                <div class="position-relative w-100">
                                    <img class="media-img w-100 lazyestload"
                                        data-src="{% static 'assets/img/gallery/4.jpg' %}"
                                        src="{% static 'assets/img/gallery/4.jpg' %}" alt="gallery-img">
                                    <a class="media-img-overlay" data-fancybox="gallery"
                                        href="{% static 'assets/img/gallery/4.jpg' %}">
                                        <div class="btn btn-squre">
                                            <i class="fa fa-search-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-4 col-lg-3 col-xs-12 element-item children charity">
                            <div class="media media-hoverable justify-content-center">
                                <div class="position-relative w-100">
                                    <img class="media-img w-100 lazyestload"
                                        data-src="{% static 'assets/img/gallery/5.jpg' %}"
                                        src="{% static 'assets/img/gallery/5.jpg' %}" alt="gallery-img">
                                    <a class="media-img-overlay" data-fancybox="gallery"
                                        href="{% static 'assets/img/gallery/5.jpg' %}">
                                        <div class="btn btn-squre">
                                            <i class="fa fa-search-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-4 col-lg-3 col-xs-12 element-item children charity">
                            <div class="media media-hoverable justify-content-center">
                                <div class="position-relative w-100">
                                    <img class="media-img w-100 lazyestload"
                                        data-src="{% static 'assets/img/gallery/6.jpg' %}"
                                        src="{% static 'assets/img/gallery/6.jpg' %}" alt="gallery-img">
                                    <a class="media-img-overlay" data-fancybox="gallery"
                                        href="{% static 'assets/img/gallery/6.jpg' %}">
                                        <div class="btn btn-squre">
                                            <i class="fa fa-search-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-4 col-lg-3 col-xs-12 element-item nature">
                            <div class="media media-hoverable justify-content-center">
                                <div class="position-relative w-100">
                                    <img class="media-img w-100 lazyestload"
                                        data-src="{% static 'assets/img/gallery/7.jpg' %}"
                                        src="{% static 'assets/img/gallery/7.jpg' %}" alt="gallery-img">
                                    <a class="media-img-overlay" data-fancybox="gallery"
                                        href="{% static 'assets/img/gallery/7.jpg' %}">
                                        <div class="btn btn-squre">
                                            <i class="fa fa-search-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xs-12 element-item nature">
                            <div class="media media-hoverable justify-content-center">
                                <div class="position-relative w-100">
                                    <img class="media-img w-100 lazyestload" data-src="{% static 'assets/img/gallery/8.jpg' %}"
                                        src="{% static 'assets/img/gallery/8.jpg' %}" alt="gallery-img">
                                    <a class="media-img-overlay" data-fancybox="gallery" href="{% static 'assets/img/gallery/8.jpg' %}">
                                        <div class="btn btn-squre">
                                            <i class="fa fa-search-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ====================================
        ———	CONTACT SECTION
        ===================================== -->
        <section class="bg-light py-7 py-md-8   ">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-sm-6 col-xs-12">
                        <div class="section-title align-items-baseline mb-4">
                            <h2 class="text px-0 mb-0">찾아오시는 길</h2>
                        </div>
                        <ul class="list-unstyled">
                            <li class="media align-items-center mb-3">
                                <div class="icon-rounded-circle-small bg-warning mr-2">
                                    <i class="fa fa-map-marker text-white"></i>
                                </div>
                                <div class="media-body">
                                    <p class="mb-0">부산광역시 해운대구 좌동 순환로275</p>
                                    <p class="mb-0">상가 208호(좌동, 대우2차아파트)</p>
                                </div>
                            </li>
                            <li class="media align-items-center mb-3">
                                <div class="icon-rounded-circle-small bg-success mr-2">
                                    <i class="fa fa-envelope text-white"></i>
                                </div>
                                <div class="media-body">
                                    <p class="mb-0"><a class="text-color" href="mailto:hwoh09@naver.com">hwoh09@naver.com</a>
                                    </p>
                                </div>
                            </li>
                            <li class="media align-items-center mb-3">
                                <div class="icon-rounded-circle-small bg-info mr-2">
                                    <i class="fa fa-phone text-white"></i>
                                </div>
                                <div class="media-body">
                                    <p class="mb-0"><a class="text-color" href="tel:[051]7479985">TEL: 051) 747-9985</a>
                                    </p>
                                </div>
                            </li>
                            <li class="media align-items-center mb-3">
                                <div class="icon-rounded-circle-small bg-danger mr-2">
                                    <i class="fa fa-fax text-white"></i>
                                </div>
                                <div class="media-body">
                                    <p class="mb-0"><a class="text-color" href="tel:[051]7479985">FAX: 051) 747-9984</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <!-- * 카카오맵 - 지도퍼가기 -->
                        <!-- 1. 지도 노드 -->
                        <div id="daumRoughmapContainer1598151806639" class="root_daum_roughmap root_daum_roughmap_landing" style="width:100%"> 
                        </div>
                        <!--
                                    2. 설치 스크립트
                                    * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
                                -->
                        <script charset="UTF-8" class="daum_roughmap_loader_script"
                            src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
        
                        <!-- 3. 실행 스크립트 -->
                        <script charset="UTF-8">
                            new daum.roughmap.Lander({
                                "timestamp": "1598151806639",
                                "key": "2zqs7",
                                "mapHeight": "100%"
                            }).render();
                        </script>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}