{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

<title>웰케어-노인장기요양보험 신청</title>
<link rel="canonical" href="http://www.well-care.co.kr/longterm/enroll">
<meta name="description" content="부산광역시 해운대구 좌동에 위치한 방문요양, 재가복지 서비스를 제공하는 웰케어재가복지센터의 노인장기요양보험 인정 신청 안내페이지입니다.">
<meta name="keywords" content="해운대 방문요양, 해운대 재가복지, 방문요양, 재가복지, 부산, 웰케어, 웰케어재가복지, 노인장기요양보험, 인정, 신청">

<meta property="og:type" content="website">
<meta property="og:title" content="웰케어-노인장기요양보험 신청">
<meta property="og:description" content="부산광역시 해운대구 좌동에 위치한 방문요양, 재가복지 서비스를 제공하는 웰케어재가복지센터의 노인장기요양보험 인정 신청 안내페이지입니다.">
<meta property="og:image" content="http://www.well-care.co.kr/static/assets/img/gallery/1.jpg">

{% endblock %}

{% block content %}
<section class="breadcrumb-bg"
    style="background-image: url({% static 'assets/img/background/page-title-bg-img.jpg' %});">
    <div class="container">
        <div class="breadcrumb-holder">
            <div> 
                <h1 class="breadcrumb-title">장기요양 인정신청</h1>
                <ul class="breadcrumb breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a class="text-white" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Longterm-insurance</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="py-5 py-md-4">
    <div class="container">
        <div class="row">
            <div><button class="btn btn-success">장기요양인정 및 이용절차</button></div>
        </div>
        <pre></pre><pre></pre>
        <div class="row">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-8 col-xs-12" style="text-align: center;"><img src="{% static 'assets/img/enroll1.png' %}"
                    style="max-width:100%; height:auto;"></div>
            <div class="col-sm-2 col-xs-12"></div>
        </div>
            <pre></pre>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
            <div><button class="btn btn-success">장기요양인정 신청</button></div>
            </div>
        </div>
        <pre></pre><pre></pre>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <ul>
                    <li class="text-dark font-size-17 mb-4" style="line-height:1.2rem">신청자격 : 장기요양보험가입자 및 그 피부양자, 의료급여수급권자</li>
                    <li class="text-dark font-size-17 mb-4" style="line-height:1.2rem">신청대상 : 만65세 이상 또는 만65세 미만으로 노인성 질병을 가진 자</li>
                </ul>
                <div class="alert alert-dark alert-dismissible fade show" role="alert" style="padding-left: 30px;padding-right: 30px;padding-bottom: 0px;">
                        <p class="text-dark font-size-17 mb-4" style="line-height:1.2rem">노인성질병 : 치매, 뇌혈관성질환, 파킨슨 병 등 대통령령으로 정하는 질병</p>
                        <p class="text-dark font-size-17 mb-4" style="line-height:1.2rem">장애인 활동지원 급여를 이용 중이거나 이용을 희망하는 경우 장기요양등급을 받으면
                        장애인 활동지원 신청이 제한되며, 장기요양등급을 취소해도 장애인 활동지원 신청이
                        불가능함.(장애인 활동지원 문의 : 국민연금공단 ☏ 1355)</p>
                </div>
                <ul>
                    <li class="text-dark font-size-17 mb-4" style="line-height:1.2rem">신청장소 : 전국 공단지사(노인장기요양보험운영센터)<pre></pre>
                        <span class="small">※ 공단 지사 중 강남동부지사, 강남북부지사, 서초북부지사, 영등포북부지사, 광산출장소는 운영센터가 없어 장기요양 신청서 접수 이외의 장기요양 상담 및 업무 불가능</span>
                    </li>
                    <li class="text-dark font-size-17 mb-4" style="line-height:1.2rem">신청방법 : 공단 방문, 우편, 팩스, 인터넷(외국인은 불가능)<pre></pre>
                        <span class="small">※ 갱신신청의 경우 통화자의 신분확인 절차를 거쳐 유선 신청 가능</span>
                    </li>
                    <li class="text-dark font-size-17 mb-4" style="line-height:1.2rem">신청인 : 본인 또는 대리인<pre></pre>
                        <span class="small">※ 대리인 : 가족, 친족 또는 이해관계인, 사회복지전담공무원, 치매안심센터의 장(신청인이
                        치매환자인 경우에 한정), 시장ㆍ군수ㆍ구청장이 지정하는 자</span>
                    </li>
                </ul>

                <div class="table-responsive-sm table-cart">
                    <table class="table mb-0">
                        <colgroup>
                            <col width="20%" />
                            <col width="22%" />
                            <col width="58%" />
                        </colgroup>
                        <tr>
                            <th scope="col" rowspan=11><span style="font-size: 1.0rem;"> 첨부서류<pre></pre>
                            <span class="small">- 방문 신청은 신분증 제시</span><pre></pre>
                            <span class="small">- 우편, 팩스 신청시 신분증 사본 제출</span><pre></pre>
                            </span></th>
                            <td style="padding-left: 30px;"><b>본인이
                            신청하는
                            경우</b></td>
                            <td>본인의 신분증 1부</td>
                        </tr>
                        <tr>
                            <td><b>대리인이 신청하는 경우</b></td>
                            <td>가족, 친족 또는 이해관계인의 신분증 1부<pre></pre>
                            공무원/치매안심센터의 장임을 증명하는 서류 1부, 신분증 1부<pre></pre>
                            대리인지정서, 대리인의 신분증 1부</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table mb-0">
                        <colgroup>
                            <col width="20%" />
                            <col width="22%" />
                            <col width="58%" />
                        </colgroup>
                        <tr>
                            <th scope="col" rowspan=11><span style="font-size: 1.0rem;">제출서류</th>
                            <td style="padding-left: 30px;"><b>1. 장기요양인정신청서</b></td>
                            <td>공단 지사(운영센터) 또는 홈페이지(www.longtermcare.or.kr)
                            에 접속하여 자료마당>서식자료실>게시물-[별지 제1호의2
                            서식]을 다운받으시면 됩니다.</td>
                        </tr>
                        <tr>
                            <td><b>2. 의사소견서</b></td>
                            <td>장기요양인정신청서와 함께 제출하여야 하나, 65세 이상인
                            경우 등급판정위원회에 심의자료 제출 전까지 제출할 수
                            있습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <pre></pre>
    <pre></pre>
    <pre></pre>
</section> 
{% endblock %}