{% extends 'base.html' %}
{% load static %}

<title>웰케어-노인장기요양보험 등급절차</title>
<link rel="canonical" href="http://www.well-care.co.kr/longterm/procedure">
<meta name="description" content="부산광역시 해운대구 좌동에 위치한 방문요양, 재가복지 서비스를 제공하는 웰케어재가복지센터의 노인장기요양보험 등급절차 안내페이지입니다.">
<meta name="keywords" content="해운대 방문요양, 해운대 재가복지, 방문요양, 재가복지, 부산, 웰케어, 웰케어재가복지, 노인장기요양보험, 인정, 신청, 등급절차">

<meta property="og:type" content="website">
<meta property="og:title" content="웰케어-노인장기요양보험 등급절차">
<meta property="og:description" content="부산광역시 해운대구 좌동에 위치한 방문요양, 재가복지 서비스를 제공하는 웰케어재가복지센터의 노인장기요양보험 등급절차 안내페이지입니다.">
<meta property="og:image" content="http://www.well-care.co.kr/static/assets/img/gallery/1.jpg">

{% block content %}


<!-- ====================================
  ———	BREADCRUMB
  ===================================== -->
<section class="breadcrumb-bg"
    style="background-image: url({% static 'assets/img/background/page-title-bg-img.jpg' %});">
    <div class="container">
        <div class="breadcrumb-holder">
            <div>
                <h1 class="breadcrumb-title">장기요양 등급절차</h1>
                <ul class="breadcrumb breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a class="text-white" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Longterm-insurance</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ====================================
———	ABOUT MEDIA
===================================== -->
<section class="py-3 py-md-1">
    <pre></pre>
    <div class="container">
        <div><button class="btn btn-success">등급판정 기준</button></div>
        <pre></pre>
        <p class="text-dark font-size-15 mb-4" style="line-height:1.66em">등급판정은 "건강이 매우 안좋다", "큰 병에 걸렸다." 등과 같은 주관적인 개념이 아닌 "심신의 기능상태에 따라 일상생활에서 도움(장기요양)이 얼마나 필요한가?"를 지표화한 장기요양인정점수를 기준으로 합니다.
        장기요양인정점수를 기준으로 다음과 같은 6개 등급으로 등급판정을 합니다.</p>

        <div class="row">
            <div class="col-sm-1 col-xs-12"></div>
            <div class="col-sm-10 col-xs-12" style="text-align: center;"><img src="{% static 'assets/img/1.png' %}"
                    style="max-width:100%; height:auto;"></div>
            <div class="col-sm-1 col-xs-12"></div>
        </div>
    </div>
    <pre></pre>
    <div class="container">
        <div><button class="btn btn-success">등급판정 절차</button></div>
        <pre></pre>
        <div class="row">
            <div class="col-sm-2 col-xs-12"></div>
            <div class="col-sm-8 col-xs-12" style="text-align: center;"><img src="{% static 'assets/img/2.png' %}"
                    style="max-width:100%; height:auto;"></div>
            <div class="col-sm-2 col-xs-12"></div>
        </div>
    </div>
    </div>
    <pre></pre><pre></pre>
    <div class="container">
    <div><button class="btn btn-success">방문조사</button></div>
    <pre></pre>
    <p class="text-dark font-size-15 mb-4" style="line-height:1.66em">인정신청을 하게 되면 간호사, 사회복지사, 물리치료사 등으로 구성된 공단 소속장기요양 직원이 직접
        방문하여「장기요양인정조사표」에 따라 아래의 항목을 조사합니다.</p>
    <div class="col-sm-12 col-xs-12" style="text-align: center;"><img src="{% static 'assets/img/enroll2.png' %}"
            style="max-width:100%; height:auto;"></div>
            <pre></pre>
    </div>
</section>
{% endblock %}