{% extends 'base.html' %}
{% load static %}

{% block extrahead %}

<title>웰케어-노인장기요양보험</title>
<link rel="canonical" href="http://www.well-care.co.kr/longterm/insurance">
<meta name="description" content="부산광역시 해운대구 좌동에 위치한 방문요양, 재가복지 서비스를 제공하는 웰케어재가복지센터의 노인장기요양보험 안내 페이지입니다.">
<meta name="keywords" content="해운대 방문요양, 해운대 재가복지, 방문요양, 재가복지, 부산, 웰케어, 웰케어재가복지, 노인장기요양보험">

<meta property="og:type" content="website">
<meta property="og:title" content="웰케어-노인장기요양보험">
<meta property="og:description" content="부산광역시 해운대구 좌동에 위치한 방문요양, 재가복지 서비스를 제공하는 웰케어재가복지센터의 노인장기요양보험 안내 페이지입니다.">
<meta property="og:image" content="http://www.well-care.co.kr/static/assets/img/gallery/1.jpg">

{% endblock %}

{% block content %}


<!-- ====================================
  ———	BREADCRUMB
  ===================================== -->
<section class="breadcrumb-bg"
    style="background-image: url({% static 'assets/img/background/page-title-bg-img.jpg' %});">
    <div class="container">
        <div class="breadcrumb-holder">
            <div>
                <h1 class="breadcrumb-title">노인장기요양보험</h1>
                <ul class="breadcrumb breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a class="text-white" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Longterm-insurance</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- ====================================
———	ABOUT MEDIA
===================================== -->
<section class="py-7 py-md-7">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="section-title mb-4"></div>
                <div><button class="btn btn-success">노인장기요양보험제도</button></div>
                <pre></pre>
                <span style="background-color:powderblue;font-size:1.3rem;line-height:1rem;"><b>노인요양문제,개인과 가계의 부담을 떠나</b></span><pre></pre>
                <span style="background-color:powderblue;font-size:1.3rem;line-height:0.6rem;"><b>사회적 국가적 책임으로 강조되고 있습니다!</b></span>
                <pre></pre>
                <p class="text-dark font-size-17 mb-4" style="line-height:1.66em">
                    현대 국가는 그 내용이나 정도에 차이가 있으나 모두 복지국가를 표방하고 있습니다.
                    대부분의 국가에서는 경제발전과 보건의료의 발달로 인한 평균 수명의 연장, 자녀에
                    대한 가치관의 변화, 보육 및 교육문제 등으로 출산율이 급격히 저하되어 인구구조의
                    급속한 고령화 문제에 직면하고 있으며, 이러한 사회변화에 따른 새로운 복지수요
                    를 충족하기 위한 것이 장기요양보장제도입니다. 즉, 노화 등에 따라 거동이 불편한
                    사람에 대하여 신체활동이나 일상가사활동을 지속적으로 지원해주는 문제가 사
                    회적 이슈로부각되었기 때문입니다.
                </p>
                <p class="text-dark font-size-17 mb-4" style="line-height:1.66em">
                    특히, 고령화의 진전과 함께 핵가족화, 여성의 경제활동참여가 증가하면서 종래 가족의 부담으로 인식되던 장기요양문제가 이제 더 이상
                    개인이나 가계의 부담으로 머물지 않고 이에 대한 사회적ㆍ국가적 책무가 강조되고 있습니다. 이와 같은 사회 환경의 변화와 이에 대처하기 위
                    하여 이미 선진각국에서는 사회보험방식 및 조세방식으로 그 재원을 마련하여장기요양보장제도를 도입하여 운영하고 있습니다.
                </p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <pre></pre>
                <pre></pre>
                <pre></pre>
                <pre></pre>
                <pre></pre>
                <div class="image mb-4 mb-md-0">
                    <img class="img-fluid rounded" src="{% static 'assets/img/features/features-img2.jpg' %}"  alt="features-img2.jpg">
                </div>
            </div>
        </div>
    </div>
    <pre></pre>
    <div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div><button class="btn btn-success">노인장기요양보험제도의 의의</button></div>
            <pre></pre>
            <p class="text-dark font-size-17 mb-4" style="line-height:1.66em">
                고령이나 노인성질병등으로 인하여 일상생활을 혼자 수행하기 어려운 노인 등에게 신체활동 또는 가사지원등의
                장기요양급여를 사회적 연대원리에 의해 제공하는 사화보험제도이다. 이에 수급자에게 배설, 목욕, 식사, 취사
                조리, 세탁, 청소, 간호, 진료의 보조 또는 요양상의 상담 등을 다양한 방식으로 장기요양급여를 제공한다.
            </p>
        </div>
    </div>
    <pre></pre>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div><button class="btn btn-success">노인장기요양보험제도의 목적</button></div>
            <pre></pre>
            <h4> (노인장기요양보험법 제 1조) </h4>
            <p class="text-dark font-size-17 mb-4" style="line-height:1.66em">
                고령이나 노인성 질병 등의 사유로 일상생활을 혼자서 수행하기 어려운 노인 등에게 제공하는 신체활동 또는 가사활동
                지원 등의 장기요양급여에 관한 사항을 규정하여 노후의 건강증진 및 생활안정을 도모하고 그 가족의 부담을 덜어줌으로써
                국민의 삶의 질을 향상하도록 함을 목적으로 한다.
            </p>
        </div>
    </div>
    <pre></pre>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <div><button class="btn btn-success">노인장기요양보험제도의 특징</button></div>
            <pre></pre>
            <p class="text-dark font-size-17 mb-4" style="line-height:1.66em">
                우리나라 노인장기요양보험제도는 건강보험제도와는 별개의 제도로 도입ㆍ운영되고 있는 한편으로,제도운영의 효율성을 도모
                하기 위하여 보험자 및 관리운영기관을 국민건강보험공단으로 일원화하고 있습니다.또한 국고지원이 가미된 사회보험방식을
                채택하고 있고 수급대상자에는 65세 미만의 장애인이 제외되어 노인을 중심으로 운영되고 있습니다.
            </p>
        </div>
    </div>
    </div>
    </div>
</section>

{% endblock %}